<!DOCTYPE html>
<html ng-app="wApp"><head><style>.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style><style>.gm-style img{max-width: none;}.gm-style {font: 400 11px Roboto, Arial, sans-serif; text-decoration: none;}</style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <title>رزرو اتاق</title>
    <link rel="canonical" href="https://wsafar.com/">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="google-site-verification" content="yx2-hpFbr1eHsdA4X0WLtsjqMSGY-IeA8X1uGYmv-z0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://b2c.wsafar.com/css/noty.css">
    <link rel="stylesheet" type="text/css" href="https://wsafar.com/css/b2b/general.css" media="screen">
    <link rel="stylesheet" href="https://b2b.wsafar.com/css/new-style.css">
    <link rel="stylesheet" href="https://b2b.wsafar.com/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@1.1.5/dist/css/persian-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/header2.css" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/37/10a/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/37/10a/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/37/10a/map.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/37/10a/marker.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/37/10a/onion.js"></script></head>
<body>
<div class="page-container" dir="rtl" ng-controller="roomDetailsCtrl">
    <div class="nav-holder mx-auto bg-white d-flex position-relative">
        <ul class="list-unstyled pr-0 flex-grow-1">
            <li class="p-2 userPlace w-25">
                <div class="d-flex">
                    <div class="rounded user-avatar shadow-sm img-thumbnail mx-2">
                        <div class="border rounded">
                            <img width="40" alt="" src="https://b2b.wsafar.com//img/avatar-sample.jpg">
                        </div>
                    </div>
                    <div class="mt-0" style="line-height: 1.2">
                        <small>دمو دمو</small>
                        <!----><small ng-repeat="s in [] | range:(userInfo.contractRate | number)" class="fas fa-star text-warning"></small><!---->
                        <br>
                        <small>موجودی: </small><small class="bold ml-2">۱۳,۹۷۹,۹۰۰ تومان</small><small>+ ۳۴,۰۳۰</small>
                    </div>
                    <div class="d-flex profile-menu position-absolute">
                        <button class="btn btn-primary btn-sm rounded-0 m-0" onclick="addFundsModal()">افزایش موجودی</button>
                        <a class="btn btn-light btn-sm rounded-0 m-0">پروفایل کاربری</a>
                        <a href="logout.jsp" class="btn btn-light btn-sm rounded-0 m-0">خروج</a>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <a href="search.jsp" class="border-right border-light p-3">
                    <i class="fal fa-search fa-lg"></i>
                    <br>
                    ‌<span>جستجو</span>
                </a>
            </li>
            <li class="text-center">
                <a href="history.jsp" class="p-3">
                    <i class="fal fa-history fa-lg"></i>
                    <br>
                    <span>تاریخچه رزرو</span>
                </a>
            </li>
            <li class="text-center">
                <a href="support.jsp" class="p-3">
                    <i class="fal fa-headset fa-lg"></i>
                    <br>
                    <span>پشتیبانی</span>
                </a>
            </li>
            <li class="text-center">
                <a href="rules.jsp" class="p-3">
                    <i class="fal fa-scroll fa-lg"></i>
                    <br>
                    <span>قوانین و مقررات</span>
                </a>
            </li>
            <li class="text-center">
                <a href="transaction.jsp" class="p-3">
                    <i class="fal fa-file-invoice fa-lg"></i>
                    <br>
                    <span>تراکنش‌ها</span>
                </a>
            </li>
            <li class="text-center">
                <a href="api.jsp" class="p-3">
                    <i class="fal fa-laptop-code fa-lg"></i>
                    <br>
                    <span>دریافت وب سرویس</span>
                </a>
            </li>
            <li class="text-center">
                <a href="booking.php" class="p-3">
                    <i class="fal fa-search-location fa-lg"></i>
                    <br>
                    <span>جستجو در بوکینگ</span>
                </a>
            </li>
            <li class="text-center">
                <a href="about-us.jsp" class="p-3">
                    <i class="fal fa-users fa-lg"></i>
                    <br>
                    <span>درباره ما</span>
                </a>
            </li>
            <li class="text-center">
                <a href="contact-us.jsp" class="border-left border-light p-3">
                    <i class="fal fa-phone-volume fa-lg"></i>
                    <br>
                    <span>تماس با ما</span>
                </a>
            </li>
        </ul>
        <a href="/search.jsp" class="text-left px-3">
            <img src="img/logo.png" alt="" width="100">
        </a>
    </div>
    <div id="addFunds" class="d-none">
        <div class="mb-5">
            <input type="text" allow-typing="^[1-9-۱-۹]+$" id="addFundsAmount" class="form-control" placeholder="مبلغ مورد نظر خود را وارد کنید...">
        </div>
        <label>نوع پرداخت</label>
        <select id="payMethod" class="form-control w-50">
            <option value="payByBank">از طریق درگاه اینترنتی</option>
            <option value="payByReceipt">از طریق فیش بانکی</option>
        </select>
    </div>    <div class="container-fluid bg-img-1 page-title mt-3 mb-5">
    <div class="container text-secondary py-3">
        <h4 class="bold">اطلاعات اتاق ها</h4>
        <span>در این بخش می‌توانید اتاق‌های مورد نظر را انتخاب کنید.</span>
    </div>
</div>
    <div class="container mt-5">
        <div class="row w-100">
            <div class="col-md-3">
                <div class="card sticky-top">
                    <div class="card-body bg-light">
                        <ul class="list-unstyled p-0">
                            <li class="mb-3">
                                <i class="fas fa-map-marked-alt ml-2"></i><strong>Madrid</strong>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-moon ml-2"></i><strong>1 شب</strong>
                                <span dir="ltr">
                                    <small>2019-08-14</small><i class="fal fa-long-arrow-right mx-2"></i><small>2019-08-15</small>
                                </span>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-door-open ml-2"></i><strong>1 اتاق</strong>
                            </li>
                            <li class="mb-3">
                                <span class="ml-3">
                                    <i class="fas fa-user-tie ml-1"></i><strong>1 </strong><small>بزرگسال</small>
                                </span>
                                <span>
                                    <i class="fas fa-child ml-1"></i><strong>0 </strong><small>کودک</small>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body border-bottom ng-hide" ng-show="step === 'step1'">
                        <button class="btn btn-light p-3" ng-click="loadAllPolicies()" ng-disabled="!selectedItems.hotel">
                            <i class="fas fa-file-exclamation fa-lg text-secondary ml-2"></i><span>بارگذاری تمام قوانین کنسلی</span>
                        </button>
                    </div>
                    <div class="card-body border-bottom">
                        <ul class="list-unstyled pr-0">
                            <li class="mb-2">
                                <button class="btn btn-block btn-transparent text-right" title="roomOnly" ng-click="filterRooms('roomOnly')">Room Only</button>
                            </li>
                            <li class="mb-2">
                                <button class="btn btn-block btn-transparent text-right" title="breakfast" ng-click="filterRooms('breakfast')">Breakfast</button>
                            </li>
                            <li class="mb-2">
                                <button class="btn btn-block btn-transparent text-right" title="halfBoard" ng-click="filterRooms('halfBoard')">Half Board</button>
                            </li>
                            <li class="mb-2">
                                <button class="btn btn-block btn-transparent text-right" title="fullBoard" ng-click="filterRooms('fullBoard')">Full Board</button>
                            </li>
                            <li class="mb-2">
                                <button class="btn btn-block btn-transparent text-right" title="allInclusive" ng-click="filterRooms('allInclusive')">All Inclusive</button>
                            </li>
                            <li class="mb-2">
                                <button class="btn btn-block btn-transparent text-right" title="uncategorized" ng-click="filterRooms('uncategorized')">سایر اتاق ها</button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body receipt p-0">
                        <div class="p-3 room-invoice">
                            <div class="d-flex rounded py-1 px-2 text-secondary" style="background: #ededed;">
                                <strong>
                                    <i class="fas fa-caret-left text-important ml-1"></i>
                                    رزرو اتاق
                                </strong>
                                <span class="text-left flex-grow-1">۱۳۲,۰۰۰ <small>تومان</small></span>
                            </div>
                            <!----><div ng-repeat="room in selectedItems.hotel.rooms track by $index" class="text-left d-flex my-3 reserved-room" dir="ltr">
                            <div class="col-md-2 text-center py-3 px-0">
                                <strong>#1</strong>
                            </div>
                            <div class="flex-grow-1 pl-2 border-left border-light">
                                <small>Bed In Dormitory Capacity 6</small>
                                <br>
                                <small class="bold text-secondary"><i class="fas fa-user-tie"></i> 1</small>
                                <small class="bold text-secondary ml-3"><i class="fas fa-child"></i> 0</small>
                                <br>
                                <small class="badge badge-light p-1">Room Only</small>
                            </div>
                        </div><!---->
                        </div>
                        <div class="p-3 insurance-invoice ng-hide" ng-show="selectedItems.insurance &amp;&amp; insuranceStep === 'step2'">
                            <div class="d-flex rounded py-1 px-2 text-secondary" style="background: #ededed;">
                                <strong>
                                    <i class="fas fa-caret-left text-important ml-1"></i>
                                    بیمه سفر
                                </strong>
                            </div>
                            <!----><div ng-repeat="ins in insurance.passengers track by $index">
                            <div class="d-flex my-3 ng-hide" ng-show="ins.plane">
                                <strong class="ml-3">•</strong>
                                <div>
                                    <small>سحر کریمی</small>
                                    <br>
                                    <!---->
                                    <br>
                                    <!---->
                                    <br>
                                    <!---->
                                </div>
                                <div class="flex-grow-1">
                                    <div class="text-left">۰<small>تومان </small></div>
                                </div>
                            </div>
                        </div><!---->
                        </div>
                        <div class="discount mt-3">
                            <div class="px-3 d-flex">
                                <span class="mb-0 text-dark">تخفیف:</span>
                                <div class="justify-content-end flex-grow-1 d-flex text-important">
                                    <span class="mb-0 ml-1">۰</span><small>تومان</small>
                                </div>
                            </div>
                        </div>
                        <div class="total d-flex mt-3 px-3">
                            <h3 class="bold mb-0 text-dark">مجموع خرید:</h3>
                            <div class="justify-content-end flex-grow-1 d-flex text-important show" id="invoiceTotal">
                                <h3 class="bold mb-0 ml-1">۱۳۲,۰۰۰</h3><small>تومان</small>
                            </div>
                        </div>
                        <button class="btn btn-primary d-flex mx-auto mt-5 mb-2 ng-hide" ng-show="step === 'step1'" ng-disabled="!selectedItems.hotel" ng-click="fillGuestsInformation()">
                            <span class="flex-grow-1 text-right">
                                <strong>تکمیل اطلاعات مهمانان</strong>
                                <i class="fas fa-chevron-left mr-2"></i>
                            </span>
                        </button>
                        <!--                        <button class="btn btn-primary d-flex mx-auto mt-5 mb-2" ng-show="step === 'step2'"-->
                        <!--                                ng-disabled="guestsInformation.$invalid"-->
                        <!--                                ng-click="submitRoomsInformation()">-->
                        <!--                            <span class="flex-grow-1 text-right">-->
                        <!--                                <strong>ارسال اطلاعات مهمانان</strong>-->
                        <!--                                <i class="fas fa-chevron-left mr-2"></i>-->
                        <!--                            </span>-->
                        <!--                        </button>-->
                        <!--                        <button class="btn btn-primary d-flex mx-auto mt-5 mb-2" ng-show="step === 'step3'"-->
                        <!--                                ng-click="submitInvoiceInformation()">-->
                        <!--                            <span class="flex-grow-1 text-right">-->
                        <!--                                <strong>تایید فاکتور و پرداخت</strong>-->
                        <!--                                <i class="fas fa-chevron-left mr-2"></i>-->
                        <!--                            </span>-->
                        <!--                        </button>-->
                    </div>
                    <div class="receipt-line">
                        <img src="img/receiptline.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="d-md-flex">
                                    <div class="col-md-4 px-0">
                                        <div class="bg-light rounded overflow-hidden shadow-lg">
                                            <div class="d-flex justify-content-center text-important py-3 ng-hide" ng-show="hotelPrice &amp;&amp; !selectedItems.hotel.totalPriceToman">
                                                <h1 class="my-0 bold">۱۳۲,۰۰۰</h1><small class="mr-2 py-3">تومان</small>
                                            </div>
                                            <div class="d-flex justify-content-center text-important py-3" ng-show="selectedItems.hotel.totalPriceToman">
                                                <h1 class="my-0 bold">۱۳۲,۰۰۰</h1><small class="mr-2 py-3">تومان</small>
                                            </div>
                                            <div class="text-center bg-light2 pt-1">
                                                <span ng-show="hotelPrice &amp;&amp; !selectedItems.hotel.totalPriceDollar" class="ng-hide">11.25 $</span>
                                                <span ng-show="selectedItems.hotel.totalPriceDollar" class="">11.25 $</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 px-0 text-left" style="line-height: 1.85;" dir="ltr">
                                        <div>
                                            <h4 class="bold float-left my-2">Hostal Inter Plaza Mayor</h4>
                                            <span class="booking-rate ml-3" ng-show="hotel.score"><strong>6.8</strong><small> /10</small></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="mt-2">
                                            <!----><i class="fas fa-star text-warning mr-2" ng-repeat="s in [] | range:(hotel.stars | number)"></i><!----><i class="fas fa-star text-warning mr-2" ng-repeat="s in [] | range:(hotel.stars | number)"></i><!----><i class="fas fa-star text-warning mr-2" ng-repeat="s in [] | range:(hotel.stars | number)"></i><!---->
                                            <br>
                                            <i class="fas fa-map-marker-alt mr-2"></i><span>Calle De Zaragoza 6 28012 MADRID</span>
                                            <br>
                                            <span class="label-primary text-white px-3">2019-08-14</span>
                                            <i class="fas fa-long-arrow-right mx-2"></i>
                                            <span class="label-primary text-white px-3">2019-08-15</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pr-0">
                                <div class="img-thumbnail">
                                    <div class="hotel-img" style="background: url(https://b2b.wsafar.com/image.jsp?id=bf00b3d32a61153a/1d/1db49440b91ad964/01-b.jpg) center center">
                                        <!--                                        <img src="{{images[0]}}" height="100%">-->
                                    </div>
                                </div>
                            </div>
                            <div class="position-absolute rounded">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body bg-light text-center d-flex p-0">
                        <button class="btn btn-transparent col-md-3 p-3 border-left" ng-click="goToStep('step1')">
                            <div class="step text-muted text-success" ng-class="{'text-muted' : step !== 'step1', 'bold' : step === 'step1', 'text-success' : selectedItems.hotel &amp;&amp; step !== 'step1'}">
                                <i class="fal fa-door-open fa-lg ml-1"></i>
                                <span>انتخاب اتاق</span>
                            </div>
                        </button>
                        <button class="btn btn-transparent col-md-3 p-3 border-left" ng-click="fillGuestsInformation()" ng-disabled="!selectedItems.hotel">
                            <div class="step text-success" ng-class="{'bold' : step === 'step2', 'text-muted' : step !== 'step2' &amp;&amp; guestsInformation.$error.required, 'text-success' : step !== 'step2' &amp;&amp; guestsInformation.$valid}">
                                <i class="fal fa-users fa-lg ml-1"></i>
                                <span>تکمیل اطلاعات مهمانان</span>
                            </div>
                        </button>
                        <button class="btn btn-transparent col-md-3 p-3 border-left" ng-click="submitRoomsInformation()" ng-disabled="!insuranceSupport">
                            <div class="step text-muted" ng-class="{'text-muted' : step !== 'step3', 'bold' : step === 'step3', 'text-success' : step !== 'step3' &amp;&amp; selectedItems.insurance}">
                                <i class="fal fa-clipboard-list fa-lg ml-1"></i>
                                <span>انتخاب سایر خدمات</span>
                            </div>
                        </button>
                        <button class="btn btn-transparent col-md-3 p-3" ng-click="goToStep('step4')" ng-disabled="step !== 'step4'">
                            <div class="step bold" ng-class="{'text-muted' : step !== 'step4', 'bold' : step === 'step4'}">
                                <i class="fal fa-receipt fa-lg ml-1"></i>
                                <span>تایید فاکتور و پرداخت</span>
                            </div>
                        </button>
                    </div>
                </div>
                <div ng-show="step === 'step4'" class="">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="d-md-flex">
                                <div class="col-md-6 shadow-sm py-5 receipt">
                                    <div class="card-body p-0">
                                        <div class="p-3 room-invoice">
                                            <div class="d-flex rounded py-1 px-2 text-secondary" style="background: #ededed;">
                                                <strong>
                                                    <i class="fas fa-caret-left text-important ml-1"></i>
                                                    رزرو اتاق
                                                </strong>
                                                <span class="text-left flex-grow-1">۱۳۲,۰۰۰ <small>تومان</small></span>
                                            </div>
                                            <!----><div ng-repeat="room in selectedItems.hotel.rooms track by $index" class="text-left d-flex my-3 reserved-room" dir="ltr">
                                            <div class="col-md-2 text-center py-3 px-0">
                                                <strong>#1</strong>
                                            </div>
                                            <div class="flex-grow-1 pl-2 border-left">
                                                <span>Bed In Dormitory Capacity 6</span>
                                                <br>
                                                <span class="bold text-secondary"><i class="fas fa-user-tie"></i> 1</span>
                                                <span class="bold text-secondary ml-3"><i class="fas fa-child"></i> 0</span>
                                                <br>
                                                <span class="badge badge-light p-1">Room Only</span>
                                            </div>
                                        </div><!---->
                                        </div>
                                        <div class="p-3 insurance-invoice ng-hide" ng-show="selectedItems.insurance &amp;&amp; insuranceStep === 'step2'">
                                            <div class="d-flex rounded py-1 px-2 text-secondary" style="background: #ededed;">
                                                <strong>
                                                    <i class="fas fa-caret-left text-important ml-1"></i>
                                                    بیمه سفر
                                                </strong>
                                            </div>
                                            <!----><div ng-repeat="ins in insurance.passengers track by $index">
                                            <div class="d-flex my-3 ng-hide" ng-show="ins.plane">
                                                <strong class="ml-3">•</strong>
                                                <div>
                                                    <span>سحر کریمی</span>
                                                    <br>
                                                    <!---->
                                                    <br>
                                                    <!---->
                                                    <br>
                                                    <!---->
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="text-left">۰<small>تومان </small></div>
                                                </div>
                                            </div>
                                        </div><!---->
                                        </div>
                                        <div class="discount mt-3">
                                            <div class="px-3 d-flex">
                                                <span class="mb-0 text-dark">تخفیف:</span>
                                                <div class="justify-content-end flex-grow-1 d-flex text-important">
                                                    <span class="mb-0 ml-1">۰</span><small>تومان</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="total d-flex mt-3 px-3">
                                            <h3 class="bold mb-0 text-dark">مجموع خرید:</h3>
                                            <div class="justify-content-end flex-grow-1 d-flex text-important show" id="invoiceTotal">
                                                <h3 class="bold mb-0 ml-1">۱۳۲,۰۰۰</h3><small>تومان</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!----><div class="col-md-6 mb-0" ng-if="!reserveDetails">
                                <!---->
                                <!---->
                                <!---->
                                <!----><div class="d-md-flex justify-content-center mb-5" ng-if="selectedItems.hotel.isAbsoluteReserve">
                                <button class="btn btn-transparent mx-3 p-4 bg-light shadow-sm border-danger" id="sb24" ng-class="{'border-danger' : invoice.gateway === 'sb24'}" ng-click="invoice.gateway = 'sb24'">
                                    <img src="img/gate-sb24-50-g.png" alt="bpi_icon"><br>
                                    <strong>بانک سامان</strong>
                                </button>
                                <button class="btn btn-transparent mx-3 p-4 bg-light shadow-sm" id="bpi" ng-class="{'border-danger' : invoice.gateway === 'bpi'}" ng-click="invoice.gateway = 'bpi'">
                                    <img src="img/gate-bpi-50-g.png" alt="bpi_icon"><br>
                                    <strong>بانک پاسارگاد</strong>
                                </button>
                            </div><!---->
                                <div class="my-2">
                                    <strong class="ml-2">مبلغ قابل پرداخت:</strong><span>۱۳۲,۰۰۰ تومان</span>
                                </div>
                                <div class="d-md-flex rounded overflow-hidden shadow-sm" ng-class="{'shadow-sm' : userCredit !== 0 &amp;&amp; selectedItems.hotel.isAbsoluteReserve}">
                                    <!----><div class="d-flex p-3 bg-light flex-grow-1 col-7" ng-if="selectedItems.hotel.isAbsoluteReserve">
                                    <div class="text-center">
                                        <input type="checkbox" ng-model="invoice.changePaymentMethod" ng-change="payByCredit()" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    </div>
                                    <div class="col-md-11">
                                        <strong>پرداخت از موجودی</strong><br>
                                        <small class="text-important">موجودی: ۱۳,۹۷۹,۹۰۰ تومان</small>
                                    </div>
                                </div><!---->
                                    <button class="btn btn-important text-right justify-content-end my-0 rounded-0 col-5" ng-class="{'rounded-0 col-5' : selectedItems.hotel.isAbsoluteReserve}" ng-click="confirmInvoice()">
                                        <i class="far fa-credit-card ml-2 fa-lg"></i>
                                        <span>پرداخت و رزرو</span><br>
                                        <small>قابل پرداخت: ۱۳۲,۰۰۰ تومان</small>
                                    </button>
                                </div>
                            </div><!---->
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="policiesModal" class="d-none">
    <div class="mb-4">
        <button class="btn btn-block text-right btn-light text-important border mb-2 position-relative policies" type="button" data-toggle="collapse" data-target="#policies" aria-expanded="false" aria-controls="Show cancellation policies">
            قوانین کنسلی
            <i class="fas fa-chevron-down position-absolute pol-icon"></i>
        </button>
        <div class="collapse px-3" id="policies"></div>
    </div>
    <div class="mb-4">
        <button class="btn btn-block text-right btn-light text-important border mb-2 position-relative alerts" type="button" data-toggle="collapse" data-target="#alerts" aria-expanded="false" aria-controls="Show cancellation policies">
            اطلاعیه های هتل
            <i class="fas fa-chevron-down position-absolute pol-icon"></i>
        </button>
        <div class="collapse px-3 text-justify" dir="ltr" id="alerts"></div>
    </div>
    <div class="mb-4">
        <button class="btn btn-block text-right btn-light text-important border mb-2 position-relative restrictions" type="button" data-toggle="collapse" data-target="#restrictions" aria-expanded="false" aria-controls="Show cancellation policies">
            محدودیت های هتل
            <i class="fas fa-chevron-down position-absolute pol-icon"></i>
        </button>
        <div class="collapse px-3 text-justify" dir="ltr" id="restrictions"></div>
    </div>
</div>
<div id="imageViewModal" class="d-none">
    <div class="slideshow-container imageview position-relative">
        <div class="slide">
            <div class="slide-frame">
                <img class="currentImg" src="" alt="" width="100%">
            </div>
        </div>
        <!-- Next and previous buttons -->
        <div class="imageview-navbtns position-absolute h-100" style="left:0">
            <button type="button" class="next btn-block btn-transparent h-100">
                <i class="fas fa-angle-left fa-2x text-white"></i>
            </button>
        </div>
        <div class="imageview-navbtns position-absolute h-100">
            <button type="button" class="prev btn-block btn-transparent h-100">
                <i class="fas fa-angle-right fa-2x text-white"></i>
            </button>
        </div>
    </div>
    <br>
    <!-- The dots -->
    <div class="imageview-dots" align="center"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYIhpwEQyHi0W_PCEjLaUJgEHc63JUifY"></script>
<script src="https://wsafar.com/js/b2b/persian.js"></script>
<script src="https://b2c.wsafar.com/js/noty.js"></script>
<script src="https://unpkg.com/persian-date@1.0.5/dist/persian-date.min.js"></script>
<script src="https://unpkg.com/persian-datepicker@1.1.5/dist/js/persian-datepicker.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;"><span style="position: absolute; font-size: 300px; width: auto; height: auto; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span></div><div id="persianDateInstance-536" class="datepicker-container pwt-hide" style="left: 624.969px; top: 806px;"><div id="plotId" class="datepicker-plot-area  datepicker-state-no-meridian   datepicker-persian">
    <div data-navigator="" class="datepicker-navigator">
        <div class="pwt-btn pwt-btn-next">&lt;</div>
        <div class="pwt-btn pwt-btn-switch">۱۳۹۸ مرداد</div>
        <div class="pwt-btn pwt-btn-prev">&gt;</div>
    </div>
    <div class="datepicker-grid-view">
        <div class="datepicker-day-view">
            <div class="month-grid-box">
                <div class="header">
                    <div class="title"></div>
                    <div class="header-row">
                        <div class="header-row-cell">ش</div>
                        <div class="header-row-cell">ی</div>
                        <div class="header-row-cell">د</div>
                        <div class="header-row-cell">س</div>
                        <div class="header-row-cell">چ</div>
                        <div class="header-row-cell">پ</div>
                        <div class="header-row-cell">ج</div>
                    </div>
                </div>
                <table cellspacing="0" class="table-days">
                    <tbody>

                    <tr>
                        <td data-date="1398,4,29" data-unix="1563564600000">
                            <span class="other-month">۲۹</span>
                        </td>

                        <td data-date="1398,4,30" data-unix="1563651000000">
                            <span class="other-month">۳۰</span>
                        </td>

                        <td data-date="1398,4,31" data-unix="1563737400000">
                            <span class="other-month">۳۱</span>
                        </td>

                        <td data-date="1398,5,1" data-unix="1563856143555">
                            <span class="">۱</span>
                        </td>

                        <td data-date="1398,5,2" data-unix="1563942543555">
                            <span class="">۲</span>
                        </td>

                        <td data-date="1398,5,3" data-unix="1564028943555">
                            <span class="">۳</span>
                        </td>

                        <td data-date="1398,5,4" data-unix="1564115343555">
                            <span class="">۴</span>
                        </td>

                    </tr>

                    <tr>
                        <td data-date="1398,5,5" data-unix="1564201743555">
                            <span class="">۵</span>
                        </td>

                        <td data-date="1398,5,6" data-unix="1564288143555">
                            <span class="">۶</span>
                        </td>

                        <td data-date="1398,5,7" data-unix="1564374543555">
                            <span class="">۷</span>
                        </td>

                        <td data-date="1398,5,8" data-unix="1564460943555">
                            <span class="">۸</span>
                        </td>

                        <td data-date="1398,5,9" data-unix="1564547343555">
                            <span class="">۹</span>
                        </td>

                        <td data-date="1398,5,10" data-unix="1564633743555">
                            <span class="">۱۰</span>
                        </td>

                        <td data-date="1398,5,11" data-unix="1564720143555">
                            <span class="">۱۱</span>
                        </td>

                    </tr>

                    <tr>
                        <td data-date="1398,5,12" data-unix="1564806543555">
                            <span class="">۱۲</span>
                        </td>

                        <td data-date="1398,5,13" data-unix="1564892943555">
                            <span class="">۱۳</span>
                        </td>

                        <td data-date="1398,5,14" data-unix="1564979343555">
                            <span class="">۱۴</span>
                        </td>

                        <td data-date="1398,5,15" data-unix="1565065743555">
                            <span class="">۱۵</span>
                        </td>

                        <td data-date="1398,5,16" data-unix="1565152143555" class="selected">
                            <span class="">۱۶</span>
                        </td>

                        <td data-date="1398,5,17" data-unix="1565238543555">
                            <span class="">۱۷</span>
                        </td>

                        <td data-date="1398,5,18" data-unix="1565324943555">
                            <span class="">۱۸</span>
                        </td>

                    </tr>

                    <tr>
                        <td data-date="1398,5,19" data-unix="1565411343555">
                            <span class="">۱۹</span>
                        </td>

                        <td data-date="1398,5,20" data-unix="1565497743555">
                            <span class="">۲۰</span>
                        </td>

                        <td data-date="1398,5,21" data-unix="1565584143555">
                            <span class="">۲۱</span>
                        </td>

                        <td data-date="1398,5,22" data-unix="1565670543555" class="today">
                            <span class="">۲۲</span>
                        </td>

                        <td data-date="1398,5,23" data-unix="1565756943555" class="disabled">
                            <span class="">۲۳</span>
                        </td>

                        <td data-date="1398,5,24" data-unix="1565843343555" class="disabled">
                            <span class="">۲۴</span>
                        </td>

                        <td data-date="1398,5,25" data-unix="1565929743555" class="disabled">
                            <span class="">۲۵</span>
                        </td>

                    </tr>

                    <tr>
                        <td data-date="1398,5,26" data-unix="1566016143555" class="disabled">
                            <span class="">۲۶</span>
                        </td>

                        <td data-date="1398,5,27" data-unix="1566102543555" class="disabled">
                            <span class="">۲۷</span>
                        </td>

                        <td data-date="1398,5,28" data-unix="1566188943555" class="disabled">
                            <span class="">۲۸</span>
                        </td>

                        <td data-date="1398,5,29" data-unix="1566275343555" class="disabled">
                            <span class="">۲۹</span>
                        </td>

                        <td data-date="1398,5,30" data-unix="1566361743555" class="disabled">
                            <span class="">۳۰</span>
                        </td>

                        <td data-date="1398,5,31" data-unix="1566448143555" class="disabled">
                            <span class="">۳۱</span>
                        </td>

                        <td data-date="1398,6,1" data-unix="1566502200000" class="disabled">
                            <span class="other-month">۱</span>
                        </td>

                    </tr>

                    <tr>
                        <td data-date="1398,6,2" data-unix="1566588600000" class="disabled">
                            <span class="other-month">۲</span>
                        </td>

                        <td data-date="1398,6,3" data-unix="1566675000000" class="disabled">
                            <span class="other-month">۳</span>
                        </td>

                        <td data-date="1398,6,4" data-unix="1566761400000" class="disabled">
                            <span class="other-month">۴</span>
                        </td>

                        <td data-date="1398,6,5" data-unix="1566847800000" class="disabled">
                            <span class="other-month">۵</span>
                        </td>

                        <td data-date="1398,6,6" data-unix="1566934200000" class="disabled">
                            <span class="other-month">۶</span>
                        </td>

                        <td data-date="1398,6,7" data-unix="1567020600000" class="disabled">
                            <span class="other-month">۷</span>
                        </td>

                        <td data-date="1398,6,8" data-unix="1567107000000" class="disabled">
                            <span class="other-month">۸</span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>

    <div class="toolbox">
        <div class="pwt-btn-today">امروز</div>
        <div class="pwt-btn-calendar">August</div>
    </div>
</div></div></body></html>